<html>
<head>
    <title><%= site_name %></title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><%= site_name %>!</h1>
        <p class="lead">
            Always a pleasure scaffolding your apps.
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
</div>
</body>
</html>